*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(120, 114, 114);
    height: 100vh;
    /* width: 100vw; */
    flex-direction: column;
    padding: 1rem;
}
.gridCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rowRevere{
    flex-direction: row-reverse;
}
.container{
    height: 60%;
    aspect-ratio: 1;
    border: 2px solid black;
    margin: 1rem;
    overflow: hidden;
}
.pawn{
    width: 40%;
    aspect-ratio: 1;
    background-color: white;
}
button{
    /* width: 2rem; */
    padding: .5rem;

}

button:hover{
    background-color: red;
}
img{
    position: absolute;
    height: 15%;
}
