*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(120, 114, 114);
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.gridCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rowRevere{
    flex-direction: row-reverse;
}
.container{
    height: 80%;
    aspect-ratio: 1;
    border: 2px solid black;
    position: relative;
}
.pawn{
    width: 40%;
    aspect-ratio: 1;
    background-color: white;
}
button{
    /* width: 2rem; */
    padding: .5rem;

}
button:hover{
    background-color: red;
}
.images, img{
    position: absolute;
    top: 1px;
    height: 20px;
}
.boxes:nth-child(10){
    border: 100px solid white;

}
img:nth-child(1){
    top: 1100%;
    height: 100px;
    width: 140px;
    bottom: 1px;
}